<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  size="large" (click)="backtologin()"><ion-icon name="chevron-back-outline" size-="large" class="margin-icon"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{ 'FORGOTTEN_PASSWORD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin-vertical">
    <ion-row  *ngIf="step === 1">
      <ion-col col-sm-12 col-md-6 col-lg-4 col-xl-3 no-padding no-margin>
        <form padding-horizontal>
          <!---Input field username-->
          <ion-item margin-top transparent>
            <ion-input required type="text" placeholder="{{ 'Email' | translate }}" [(ngModel)]="semail" name="semail" ></ion-input>
          </ion-item>
          <!---Login button-->
          <div class="ion-text-center ion-margin-vertical">
            <ion-button color="primary" (click)="doCheckEmail()">{{ 'RESETPASSWORD' | translate }}</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="step === 2">
      <ion-col col-sm-12 col-md-6 col-lg-4 col-xl-3 no-padding no-margin>
        <p>{{ 'MAILSENT' | translate }}</p>
        <form padding-horizontal >
          <!---Input field username-->
          <ion-item margin-top transparent>
            <ion-input required type="text" placeholder="Code" [(ngModel)]="code" name="code" ></ion-input>
          </ion-item>
          <ion-item margin-top transparent>
              <ion-input required type="password" placeholder="{{ 'NEWPASSWORD' | translate }}" [(ngModel)]="newpassword" name="newpassword" ></ion-input>
          </ion-item>
          <!---Login button-->
          <div class="ion-text-center ion-margin-vertical">
            <ion-button color="primary" (click)="doUpdatePassword()">{{ 'SAVE' | translate }}</ion-button>
          </div>  
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
